@model AgoraVai.Models.Entrada

@{
    ViewBag.Title = "NVP - Entrada";
    Layout = "~/Views/Shared/_Movimentacao.cshtml";
}

<section class="section--login">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h4 class="formulario__h4">Movimentação</h4>
        <div class="form form--login">
            <div class="form--edges">
                @Html.LabelFor(model => model.Cpf, "CPF", htmlAttributes: new { @class = "form--paragraph" })
                @Html.EditorFor(model => model.Cpf, new { htmlAttributes = new { @class = "login--inputs" } })
                @Html.ValidationMessageFor(model => model.Cpf, "", new { @class = "text-danger" })
            </div>
            <div class="form--edges">
                @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "login--paragraph" })
                @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "login--inputs" } })
                @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
            </div>
            <div class="form--edges">
                @Html.LabelFor(model => model.Placa, htmlAttributes: new { @class = "login--paragraph" })
                @Html.EditorFor(model => model.Placa, new { htmlAttributes = new { @class = "login--inputs" } })
                @Html.ValidationMessageFor(model => model.Placa, "", new { @class = "text-danger" })
            </div>
            <div class="form--edges">
                @Html.LabelFor(model => model.hora_entrada, "Hora da entrada: ", htmlAttributes: new { @class = "login--paragraph" })
                @ViewBag.HoraEnt
            </div>
            <div class="form--edges">
                @Html.LabelFor(model => model.VagaId, "Vaga", htmlAttributes: new { @class = "login--paragraph" })
                @Html.DropDownList("VagaId", null, htmlAttributes: new { @class = "login--inputs__add" })
                @Html.ValidationMessageFor(model => model.VagaId, "", new { @class = "text-danger" })
            </div>

            <div class="form--edges">
                @Html.LabelFor(model => model.TipoId, "mensal, diaria ou semanal", htmlAttributes: new { @class = "login--paragraph" })
                @Html.DropDownList("TipoId", null, htmlAttributes: new { @class = "login--inputs__add" })
                @Html.ValidationMessageFor(model => model.TipoId, "", new { @class = "text-danger" })

            </div>

            <div class="form--edges">
                <input type="submit" value="Cadastrar" class="btn btn--login btn__pattern" />
            </div>
        </div>
    }
</section>
@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
