@model AgoraVai.Models.Movimentacao

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Movimentacao.cshtml";
}

<section class="section--login">

    @*<h4 class="formulario__h4">Movimentacao</h4>*@
    <dl class="formulario">
        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.Pessoa.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcionario.Pessoa.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vaga.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vaga.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cpf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cpf)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora_entrada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_entrada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hora_saida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hora_saida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor_pagar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor_pagar)
        </dd>

    </dl>
</section>
@*<div class="form--edges">
        @Html.ActionLink("Voltar", "Index", new { @class = "btn btn--login btn__pattern" })
</div>*@
