@model IEnumerable<AgoraVai.Models.Gerente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TelaGerente.cshtml";
}

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>


<h2 style="text-align:center; padding: 20px; font-size: 30px">Bem-vindo(a), @ViewBag.nomedousuario</h2>
<h2 style="text-align:center; padding: 20px; font-size: 30px">Faturamentos</h2>
<div class="fatu--linha fatu__size">
    <div class="fatu fatu-red">
        <h4>do dia</h4>
        <h3 style="padding-top: 10px;">R$: @ViewBag.FaturamentoDoDia</h3>
    </div>

    <div class="fatu fatu-yellow">
        <h4>da semana</h4>
        <h3 style="padding-top: 10px;">R$: @ViewBag.FaturamentoDaSemana</h3>
    </div>

    <div class="fatu fatu-green">
        <h4>do mês</h4>
        <h3 style="padding-top: 10px;">R$: @ViewBag.FaturamentoDoMes</h3>
    </div>
</div>

<form method="post" action="~/Gerentes/Index/" style="display: flex; flex-flow: row nowrap; justify-content: center;">
    <input type="text" maxlength="4" min="4" name="data" placeholder="Ano desejado" style="border-radius: 100px; border: 1px solid #000; margin-right: 5px; padding-right: 20px" />
    <input style="padding: 10px" type="submit" value="Confirmar" class="btn btn--login btn__pattern" name="confirmar" />
</form>

<div id="container" class="fatu__size" style="height: 600px;"></div>

<p id="jan" style="display: none">@ViewBag.jan</p>
<p id="fev" style="display: none">@ViewBag.fev</p>
<p id="mar" style="display: none">@ViewBag.mar</p>
<p id="abr" style="display: none">@ViewBag.abr</p>
<p id="mai" style="display: none">@ViewBag.mai</p>
<p id="jun" style="display: none">@ViewBag.jun</p>
<p id="jul" style="display: none">@ViewBag.jul</p>
<p id="ago" style="display: none">@ViewBag.ago</p>
<p id="set" style="display: none">@ViewBag.set</p>
<p id="outu" style="display: none">@ViewBag.outu</p>
<p id="nov" style="display: none">@ViewBag.nov</p>
<p id="dez" style="display: none">@ViewBag.dez</p>



<script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Faturamento por mês'
        },
        //subtitle: {
        //    text: 'Source: <a href="http://en.wikipedia.org/wiki/List_of_cities_proper_by_population">Wikipedia</a>'
        //},
        xAxis: {
            type: 'category',
            labels: {
                rotation: 0,
                style: {
                    fontSize: '14px',
                    fontFamily: 'Verdana, sans-serif',
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Faturamento',
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Faturamento de R$<b>{point.y:.2f}</b>'
        },
        series: [{
            name: 'Faturamento',
            data: [
                ['Jan', Number(document.getElementById('jan').innerHTML)],
                ['Fev', Number(document.getElementById('fev').innerHTML)],
                ['Mar', Number(document.getElementById('mar').innerHTML)],
                ['Abr', Number(document.getElementById('abr').innerHTML)],
                ['Mai', Number(document.getElementById('mai').innerHTML)],
                ['Jun', Number(document.getElementById('jun').innerHTML)],
                ['Jul', Number(document.getElementById('jul').innerHTML)],
                ['Ago', Number(document.getElementById('ago').innerHTML)],
                ['Set', Number(document.getElementById('set').innerHTML)],
                ['Out', Number(document.getElementById('outu').innerHTML)],
                ['Nov', Number(document.getElementById('nov').innerHTML)],
                ['Dez', Number(document.getElementById('dez').innerHTML)],
            ],
            dataLabels: {
                enabled: true,
                rotation: -0,
                color: '#ffffff',
                align: 'center',
                format: 'R${point.y}', // one decimal
                y: -5, // 10 pixels down from the top
                style: {
                    fontSize: '15px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });

</script>