@model IEnumerable<AgoraVai.Models.Sangria>

@{
    ViewBag.Title = "Lista de sangrias";
    Layout = "~/Views/Shared/_TelaGerente.cshtml";
}

<h2 style="text-align:center; padding: 20px; font-size: 30px">Lista de Sangrias</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<section class="section--login">
    <table class="tabela">
        <tr class="tabela--infos tabela__bold">
            <th>
                @Html.DisplayNameFor(model => model.Funcionario.Pessoa.Nome)
            </th>
            <th>
                Descrição
            </th>
            <th>
                Valor
            </th>
            <th>
                Sangria
            </th>
            <th>
                Finalizar
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr class="tabela--infos">
                <td>
                    @Html.DisplayFor(modelItem => item.Funcionario.Pessoa.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.horadasangria)
                </td>
                <td>
                    @if (item.confirmar == 0)
                    {
                        <span style="color:red">
                            @Html.ActionLink("Confirmar", "SangriasLista2", new { id = item.Id }, new { @class = "btn btn--login btn__pattern btn--padding" })
                        </span>
                    }
                    else
                    {
                        <span style="color:green">
                            Confirmado
                        </span>
                    }

                    @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                </td>
            </tr>
        }

    </table>
</section>
