@model AgoraVai.Models.CadastroGerente

@{
    ViewBag.Title = "Create";
}

<section class="section--login">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h4 class="formulario__h4">Cadastro de Gerente</h4>
        <div class="form form--login">
            <div class="form--edges">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "login--paragraph" })
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "login--inputs" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>

            <div class="form--edges">
                @Html.LabelFor(model => model.cpf, htmlAttributes: new { @class = "login--paragraph" })
                @Html.EditorFor(model => model.cpf, new { htmlAttributes = new { @class = "login--inputs" } })
                @Html.ValidationMessageFor(model => model.cpf, "", new { @class = "text-danger" })
            </div>

            <div class="form--edges">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "login--paragraph" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "login--inputs" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form--edges">
                @Html.LabelFor(model => model.Senha, htmlAttributes: new { @class = "login--paragraph" })
                @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "login--inputs" } })
                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
            </div>

            <div class="form--edges">
                <input type="submit" value="Criar" class="btn btn--login btn__pattern" />
            </div>
        </div>
    }
</section>

@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
